.menu__link {
    font-family: Circular Std;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    color: rgba(25, 24, 37, 0.5);
}

.header__logo {
    font-family: Circular Std;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 167%;
    color: #191825;
}

.button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 16px 32px;
    background: #FFFFFF;
    border-radius: 100px;
    gap: 8px;
}

.no-bg-button {
    color: #222831;
}

.bg-button {
    background: #5D50C6;
    color: #EEEEEE;
}

.pink_text_button {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 16px;
    -webkit-box-shadow: 0px 548px 219px rgba(0, 0, 0, 0.01), 0px 308px 185px rgba(0, 0, 0, 0.04), 0px 137px 137px rgba(0, 0, 0, 0.06), 0px 34px 75px rgba(0, 0, 0, 0.07), 0px 0px 0px rgba(0, 0, 0, 0.07);
    box-shadow: 0px 548px 219px rgba(0, 0, 0, 0.01), 0px 308px 185px rgba(0, 0, 0, 0.04), 0px 137px 137px rgba(0, 0, 0, 0.06), 0px 34px 75px rgba(0, 0, 0, 0.07), 0px 0px 0px rgba(0, 0, 0, 0.07);
    color: #F85E9F;
}

h1 {
    font-size: 69px;
    color: #000000;
    line-height: 120%;
}

h2 {
    font-size: 23px;
    line-height: 120%;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #F85E9F;
}

h3 {
    font-size: 44px;
    line-height: 120%;
    color: #191825;
}

h4 {
    font-size: 28px;
    line-height: 120%;
    text-align: center;
    color: #191825;
}

.clients__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.block-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.destination__block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.destination-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.footer__block:nth-child(2) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}