@font-face {
	font-family: "CircularStd";
	src: local("CircularStd-Book"),
	url("../fonts/CircularStd-Book.woff2") format("woff2"),
	url("../fonts/CircularStd-Book.woff") format("woff");
	font-style: medium;
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: "CircularStd";
	src: local("CircularStd-Bold"),
	url("../fonts/CircularStd-Bold.woff2") format("woff2"),
	url("../fonts/CircularStd-Bold.woff") format("woff");
	font-style: medium;
	font-weight: 800;
	font-display: swap;
}
  
@font-face {
    font-family: "CircularStd";
	src: local("CircularStd-Black"),
	url("../fonts/CircularStd-Black.woff2") format("woff2"),
	url("../fonts/CircularStd-Black.woff") format("woff");
	font-style: medium;
	font-weight: 900;
	font-display: swap;
}

::-webkit-scrollbar-track {
    background-color: #EEEEEE;
}

::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: #5D50C6;
}

::-webkit-scrollbar-thumb:active {
    background-color: #5D50C6;
    border: 0.1rem solid #5D50C6;
}

::-webkit-scrollbar {
    width: 0.6rem;
    background-color: #5D50C6;
}


body {
    font: 700 0.9rem /1.2 CircularStd;
    color: rgba(25, 24, 37, 0.5);
    scroll-behavior: smooth;
}

li {
    position: relative;
}

li a {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    padding-bottom: 0.2rem;
}

li a:hover {
    color: #070707;
    border-bottom: 1px solid #070707;
}

li a:after {
    content: "";
    position: absolute;
}

.decor-button-txt {
    white-space: nowrap;
    color: #191825;
    font-size: 1.3rem;
}

.decor-button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.decor {
    position: absolute;
}

.decor-button {
    position: absolute;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.03), 0 1rem 2rem 0 rgba(0, 0, 0, 0.03), 0 4rem 4rem 0 rgba(0, 0, 0, 0.02), 0 8.7rem 5.2rem 0 rgba(0, 0, 0, 0.01), 0 15.4rem 6.2rem 0 rgba(0, 0, 0, 0), 0 24.1rem 6.8rem 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.03), 0 1rem 2rem 0 rgba(0, 0, 0, 0.03), 0 4rem 4rem 0 rgba(0, 0, 0, 0.02), 0 8.7rem 5.2rem 0 rgba(0, 0, 0, 0.01), 0 15.4rem 6.2rem 0 rgba(0, 0, 0, 0), 0 24.1rem 6.8rem 0 rgba(0, 0, 0, 0);
    background: #ffffff;
    border-radius: 6.25rem;
    cursor: default;
}

.decor-button__img {
    width: 2.5rem;
    height: 2.5rem;
}

.section-header__text-small {
    font: 400 1.05rem inter;
    line-height: 160%;
}

.logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
}

.logo:hover {
    -webkit-transform: scale(1.08);
    -ms-transform: scale(1.08);
    transform: scale(1.08);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.logo img {
    width: 2.5rem;
    height: 2.5rem;
}

.fs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.fr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.fc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

section {
    padding: 4rem 0;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 7.5rem;
    margin: 0 auto;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    width: 70.8rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.ellipse {
    position: absolute;
    width: 31.3rem;
    height: 31.3rem;
    border-radius: 15rem;
    -webkit-filter: blur(22rem);
    filter: blur(22rem);
}

h1 {
    font: 700 0.9rem CircularStd;
    color: rgb(25, 24, 37);
    font-size: 4.1rem;
    line-height: /1.2;
}

h2 {
    font: 700 0.9rem CircularStd;
    font-size: 1.3rem;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #F85E9F;
}

h3 {
    font: 700 0.9rem CircularStd;
    font-size: 2.75rem;
    color: rgb(25, 24, 37);
}

h4 {
    font: 700 0.9rem CircularStd;
    text-align: center;
    color: rgb(25, 24, 37);
}

.centred-section-header {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
}

.section-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1.4rem;
}

.w50 {
    width: 50%;
}

.logo-txt {
    font: 900 1.5rem CircularStd;
    color: #191825;
    line-height: 160%;
    margin-top: 0.3rem;
}

button:not(.arrow) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1rem 2rem;
    border-radius: 6.2rem;
    gap: 0.5rem;
    font: 700 0.9rem CircularStd;
    white-space: nowrap;
}

button:not(.arrow):hover {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: scale(1.08);
    -ms-transform: scale(1.08);
    transform: scale(1.08);
}

.primary-button {
    background: #5D50C6;
    color: #EEEEEE;
}

.primary-button:hover {
    background: #1a04be;
}

.secondary-button {
    background: #FFFFFF;
}

.secondary-button:hover {
    background: #f0f0f0;
}

.pink-text-button {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1rem;
    -webkit-box-shadow: 0 34.2rem 13.7rem rgba(0, 0, 0, 0.01), 0 19.2rem 11.5rem rgba(0, 0, 0, 0.04), 0 8.5rem 8.5rem rgba(0, 0, 0, 0.06), 0 2rem 4.7rem rgba(0, 0, 0, 0.07), 0 0 0 rgba(0, 0, 0, 0.07);
    box-shadow: 0 34.2rem 13.7rem rgba(0, 0, 0, 0.01), 0 19.2rem 11.5rem rgba(0, 0, 0, 0.04), 0 8.5rem 8.5rem rgba(0, 0, 0, 0.06), 0 2rem 4.7rem rgba(0, 0, 0, 0.07), 0 0 0 rgba(0, 0, 0, 0.07);
    color: #F85E9F;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
}

.top-destination {
    color: #F85E9F;
}

.arrow {
    height: 6.3rem;
    border-radius: 6.2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 2rem 2.65rem;
}

.arrow:hover {
    -webkit-transform: scale(1.2) rotate(360deg);
    -ms-transform: scale(1.2) rotate(360deg);
    transform: scale(1.2) rotate(360deg);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.arrow-bg:hover {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: scale(1.2) rotate(540deg);
    -ms-transform: scale(1.2) rotate(540deg);
    transform: scale(1.2) rotate(540deg);
}

.arrow img {
    width: 1rem;
    height: 0.8rem;
}

.arrow-bg {
    background: #5D50C6;
    border-radius: 6.2rem;
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    fill: #FFFFFF;
}

.arrow-no-bg {
    border: 1px solid rgba(25, 24, 37, 0.1);
    background: #FFFFFF;
}

.arrow-bg img {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.header__ellipse {
    left: -35rem;
    background: #FF5722;
}

.header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header__container {
    min-height: 7.5rem;
}

.header__autorization {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    gap: 7%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.menu__link {
    font: 700 0.9rem CircularStd;
    font-size: 0.9rem;
    line-height: /1.2;
    color: rgba(25, 24, 37, 0.5);
}

.autorization__login-text {
    font: 700 0.9rem CircularStd;
}

.main-block {
    padding-top: 9rem;
}

.main-block__container {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.main-block__left-block {
    width: 42%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 3.8rem;
}

.main-block__main-block {
    padding: 7.5rem 0 2.5rem 0;
}

.right-block {
    position: relative;
}

.right-block__decor-button-container {
    bottom: 12.5rem;
    left: 31.5rem;
    position: absolute;
}

.right-block__decor-button-img {
    width: 1.5rem;
    height: 1.5rem;
}

.right-block__mini-decor-img {
    position: absolute;
}

.right-block__mini-decor-img:nth-child(1) {
    top: 16.5rem;
    left: -4rem;
    width: 8rem;
    height: 11rem;
}

.right-block__mini-decor-img:nth-child(2) {
    bottom: -5.5rem;
    left: 22.5rem;
    width: 8rem;
    height: 11rem;
}

.right-block__img {
    width: 17rem;
    height: 18.75rem;
}

.right-block__imgs-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 2.5rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.right-block__bg-img {
    width: 48.25rem;
    height: 18rem;
}

.right-block__bg {
    position: relative;
    z-index: -1;
    left: -0.5rem;
    top: 0.5rem;
}

.right-block__bg img {
    top: -5rem;
    left: -5rem;
    position: absolute;
}

.right-block__imgs {
    display: grid;
    grid-template-areas: "a b" "c c";
    grid-gap: 2rem;
    margin: 0 2rem 0 0;
}

.right-block__imgs-column:nth-child(2) img {
    width: 17rem;
    height: 25rem;
}

.right-block__decor-button {
    top: -3.5rem;
    gap: 0.5rem;
}

.right-block__decor-button-txt {
    font-size: 0.9rem;
    color: #393E46;
}

.left-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 26rem;
}

.left-block .secondary-button {
    border: 1px solid #EEEEEE;
    border-radius: 100px;
}

.left-block__title {
    width: 23.8rem;
}

.left-block__img {
    width: 1.5rem;
    height: 1.5rem;
}

.left-block__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 3.8rem;
}

.left-block__decor-button {
    position: static;
    color: #f85e9f;
}

.clients {
    padding-top: 4rem;
}

.clients__imgs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    gap: 3.8rem;
}

.clients__img {
    height: 2rem;
}

.clients__img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.clients__decor {
    position: absolute;
    width: 4rem;
    height: 9.5rem;
    left: -1rem;
}

.services {
    padding: 1rem;
}

.services__container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.services__ellipse {
    top: -17rem;
    right: -30rem;
    background: #FACD49;
}

.services__header {
    width: 27.5rem;
}

.services__card {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.services__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    gap: 1.5rem;
    top: 0;
}

.services__cards-container {
    overflow: hidden;
    padding: 0;
    height: 34rem;
}

.services-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 2rem;
    width: 22rem;
    text-align: center;
    padding: 4.5rem 4.5rem 6rem;
    border-radius: 2rem;
    -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: white;
}

.services-card:hover {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1), 0 2.5rem 5rem 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1), 0 2.5rem 5rem 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: relative;
    top: -1rem;
}

.services-card__title {
    font-size: 1.65rem;
}

.services-card__text {
    font-size: 1.05rem;
}

.services-card__img {
    width: 4rem;
    height: 4rem;
    margin-bottom: 2rem;
}

.explore {
    padding: auto;
}

.explore__container {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 3.8rem;
}

.explore__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.5rem;
}

.explore__block-header {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.explore__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.explore__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.explore__arrows {
    margin-right: 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2rem;
}

.explore__decor {
    width: 6.7rem;
    height: 6.7rem;
    top: 8rem;
    right: 1.7rem;
}

.explore-card:hover {
    position: relative;
    top: -1rem;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.05), 0 32px 71px 0 rgba(0, 0, 0, 0.05), 0 128px 128px 0 rgba(0, 0, 0, 0.04), 0 288px 173px 0 rgba(0, 0, 0, 0.03), 0 513px 205px 0 rgba(0, 0, 0, 0.01), 0 801px 224px 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.05), 0 32px 71px 0 rgba(0, 0, 0, 0.05), 0 128px 128px 0 rgba(0, 0, 0, 0.04), 0 288px 173px 0 rgba(0, 0, 0, 0.03), 0 513px 205px 0 rgba(0, 0, 0, 0.01), 0 801px 224px 0 rgba(0, 0, 0, 0);
    border-radius: 2rem;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.explore-card:nth-child(n+4) {
    display: none;
}

.explore-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border: 1px solid rgba(25, 24, 37, 0.1);
    border-radius: 2.2rem;
}

.explore-card__img img {
    width: 100%;
}

.explore-card__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.explore-card__desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
}

.explore-card__rating {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 1.5rem;
}

.explore-card__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    font: 700 1.3rem /1.2 CircularStd;
}

.explore-card__star {
    width: 1.5rem;
    height: 1.5rem;
}

.explore-card__card-img {
    width: 21.9rem;
    height: 21.9rem;
}

.explore-card__title {
    color: rgb(25, 24, 37);
    max-width: 11rem;
}

.explore-card__price {
    color: #F85E9F;
}

.explore-card__text {
    font: 400 1.05rem /1.6 CircularStd;
}

.explore-card__num {
    font: 700 1.3rem /1.2 CircularStd;
    color: #FF5722;
}

.travel-point__container {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    left: -10rem;
    gap: 5rem;
}

.travel-point__main-img {
    margin-bottom: -1.2rem;
    width: 47rem;
    height: 47rem;
}

.travel-point__img {
    position: absolute;
}

.travel-point__img:nth-child(1) {
    bottom: 0;
    width: 44rem;
    height: 34.4rem;
    z-index: -1;
}

.travel-point__img:nth-child(2) {
    top: 1rem;
    left: 40rem;
    width: 7rem;
    height: 7rem;
}

.travel-point__img:nth-child(3) {
    left: 12.5rem;
    top: 6.5rem;
    width: 3rem;
    height: 3rem;
}

.travel-point__img:nth-child(4) {
    top: 18rem;
    left: 53rem;
    width: 3rem;
    height: 3rem;
}

.travel-point__img:nth-child(5) {
    top: 20rem;
    left: 39.5rem;
    width: 1.5rem;
    height: 1.5rem;
}

.travel-point__img:nth-child(6) {
    top: 31rem;
    left: 43rem;
    width: 2.5rem;
    height: 2.5rem;
}

.travel-point__decor {
    left: 19.5rem;
    top: 13rem;
    width: 19rem;
    height: 23rem;
}

.travel-point__decor-button-container {
    position: absolute;
    top: 1rem;
    left: -25rem;
}

.travel-point__discaunt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.travel-point__card-title {
    font-size: 2rem;
    color: #FF5722;
}

.travel-point__title-top {
    width: 28rem;
}

.travel-point__card-text {
    font: 400 1.05rem inter;
    color: rgb(25, 24, 37);
    white-space: nowrap;
}

.travel-point__info {
    width: 35%;
    position: relative;
}

.travel-point__images {
    width: 60%;
}

.travel-point__cards {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}

.travel-point__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    border: 1px solid rgba(25, 24, 37, 0.1);
    border-radius: 2rem;
}

.travel-point__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 4rem;
}

.features {
    padding-bottom: 10.5rem;
}

.features__container {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    gap: 4rem;
}

.features__decor-button {
    top: 5.5rem;
    left: 14rem;
}

.features__desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 4rem;
    max-width: 33rem;
}

.features__card-img {
    width: 6.25rem;
    height: 6.25rem;
}

.features__decor-block-bg {
    position: relative;
    width: 28rem;
    height: 17rem;
    z-index: -1;
    left: 15.5rem;
    top: -3.5rem;
}

.features__decor-block {
    position: relative;
    top: 3rem;
}

.features__decor-block picture:nth-child(1) img {
    position: absolute;
    width: 27.7rem;
    height: 41.5rem;
}

.features__decor-block picture:nth-child(2) img {
    position: absolute;
    z-index: 1;
    width: 22rem;
    height: 31rem;
    top: 15.5rem;
    left: 6rem;
}

.features__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.features__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2rem;
}

.features__card-desc {
    padding: 0 0 0 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.features__card-img-title {
    text-align: start;
    font-size: 1.3rem;
    line-height: 120%;
}

.features__card-txt {
    line-height: 160%;
}

.features__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.testimonials {
    position: relative;
}

.testimonials__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.testimonials__section-header {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.testimonials__bg {
    left: -4rem;
    height: 80rem;
    top: -27rem;
    width: 92rem;
    z-index: -1;
}

.testimonials__decor {
    position: absolute;
    left: 4rem;
    top: 42rem;
    width: 11.44rem;
    height: 11rem;
}

.testimonials__scroll-pointer {
    width: 1.5rem;
    height: 1.5rem;
}

.testimonials__rating-star {
    width: 2rem;
    height: 2rem;
}

.testimonials__img {
    width: 7.5rem;
    height: 7.5rem;
}

.testimonials__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 3rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.testimonials__main-content {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 3.8rem;
    padding: 0 2rem;
}

.testimonials__title-highlight {
    color: #FF5722;
    font-size: 2rem;
}

.testimonials__title {
    font-size: 1.8rem;
}

.testimonials__text {
    font-size: 1.3rem;
    text-align: center;
    max-width: 48rem;
}

.testimonials__desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 2.5rem;
}

.testimonials__rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 1.2rem;
}

.testimonials__scroll {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 1.2rem;
}

.subscribe__button {
    padding: 2rem 4rem !important;
    font: 700 1.3rem /1.2 CircularStd !important;
}

.subscribe__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 4rem;
}

.subscribe__input {
    padding: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    gap: 1rem;
    background: #fff;
    border-radius: 2rem;
}

.subscribe__input:hover {
    -webkit-transform: scale(1.08);
    -ms-transform: scale(1.08);
    transform: scale(1.08);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.subscribe__input input {
    font: 700 1.3rem /1.2 CircularStd;
    color: rgba(25, 24, 37, 0.75);
    width: 100%;
}

.subscribe__section-header {
    text-align: center;
    gap: 2rem;
    padding: 0 4rem;
}

.subscribe__decor {
    position: absolute;
    width: 7rem;
    height: 27rem;
    right: -10rem;
}

.subscribe__email-img {
    width: 2rem;
    height: 2rem;
}

.subscribe__title-top {
    font-size: 3.4rem;
}

.subscribe__main-button {
    border-radius: 2rem;
    font: 700 1.3rem /1.2 CircularStd;
}

.subscribe__email-button {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.subscribe__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: rgba(250, 205, 73, 0.08);
    padding: 8rem 4rem;
    max-width: 61.4rem;
    gap: 3rem;
}

.subscribe__bg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 62.5rem;
    padding: 4.4rem 0;
}

.email-button__text {
    font: 700 1.3rem /1.2 CircularStd;
    font-size: 1.3rem;
}

.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2.5rem 0 5rem 0;
}

.footer__footer-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 2.5rem;
    max-width: 17.4rem;
}

.footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.footer__txt {
    font: 700 1.3rem /1.2 CircularStd;
    line-height: 160%;
}

.footer__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    max-width: 17.8rem;
    gap: 2rem;
}

.footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 2rem;
    padding: 2rem 0 0 0;
}

.footer__link {
    font: 400 1.05rem inter;
    line-height: 160%;
    color: rgba(25, 24, 37, 0.75);
}

.footer__title {
    font: 700 1.3rem /1.2 CircularStd;
    color: rgb(25, 24, 37);
}

.social__item {
    width: 2rem;
    height: 2rem;
}

.social__item:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}